extends partials/layout.pug

block content
	section.mainSection
		h1#manden Manden
		p blah blah
	
	section.mainSection
		h1#arbejdet Arbejdet
		p blah blah

	//- page.posts.each(item => {
		h2
			a(href="#!")= item.title
	//- })