<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= config.title
	body
		a.sr-only(href="/#content") Hop til indholdet
		header.siteHeader(arial-label="Webstedets sidehoved")
			a.siteBrand(href="/")= config.title

			nav(role="navigation", arial-label="Primær")
				ul.primaryNavigation
					- for (var i in theme.menu) {
					li.primaryNavigation__item
						a.primaryNavigation__link(href=url_for(theme.menu[i]))= i
							img.link__icon(src="/media/placeholder.svg")
					- }

		main(role="main")#content
			block content

		script(src="/scripts/css-loader.js?__inline=true")
		noscript
			link(rel="stylesheet", href="/css/style.css")