<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= config.title
	body
		header
			a(href="#!") brian emilius . com

			nav(role="navigation")
				ul.primaryNavigation
					li.primaryNavigation__item
						a.primaryNavigation__link(href="#!") Link 1
					li.primaryNavigation__item
						a.primaryNavigation__link(href="#!") Link 2
					li.primaryNavigation__item
						a.primaryNavigation__link(href="#!") Link 3
					li.primaryNavigation__item
						a.primaryNavigation__link(href="#!") Link 4

		block content